<app-header></app-header>

<div class="content">
  <div class="sites-list">
      <mat-card class="add-card imem">
        <mat-card-content>
            <button mat-raised-button color="primary" class='add-site' (click)="addSite()">Add site</button>
        </mat-card-content>
      </mat-card>
        <mat-card *ngFor="let site of sites" class="item">
            <mat-card-header>
              <mat-card-title>{{site.name}}</mat-card-title>
              <mat-card-subtitle>
                  {{site.is_public ? 'published' : 'saved' }}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img (click)="openEditor(site.id)" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            </mat-card-content>
            <mat-card-actions>
                <span class="date">{{site.created_time | date: 'MM.dd.yyyy'}}</span>
                <span class="spacer"></span>
                <button mat-button color="warn" aria-label="delete" (click)="onDelete(site.id)">
                  Delete
                </button>
            </mat-card-actions>
          </mat-card>
        </div>

  <!-- <table *ngIf="sites.length > 0" mat-table [dataSource]="sites" class="mat-elevation-z8">

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let site"> {{site.email}} </td>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let site"> 
          <mat-form-field>
            <input matInput
              placeholder=""
              [(ngModel)]="site.name"
              (change)="onRename(site.id, site.name)"/>
          </mat-form-field>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="is_public">
        <th mat-header-cell *matHeaderCellDef> Publication </th>
        <td mat-cell *matCellDef="let site"> {{site.is_public}} </td>
      </ng-container>
    
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Created </th>
        <td mat-cell *matCellDef="let site"> {{site.created}} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let site">
            <button mat-icon-button color="warn" aria-label="delete" (click)="onDelete(site.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table> -->

</div>
